body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.banner{
    text-align: center;
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0;
    color: #ffd700;
}

.button{
    position: absolute; /* Posiciona el botón de forma absoluta dentro del contenedor */
    top: 0;
    left: 50%; /* Centra horizontalmente */
    /* Ajusta la posición horizontal */
    font-size: 30px;
    background: rgba(45, 46, 46, 0.822);
    box-shadow: 0px 4px 4px rgba(48, 47, 47, 0.329);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 250px;
    padding: 4px;
    color: white;
}



.max-min{
    width: 100px;
    border-radius: 15px;
    border: 1px solid #4181e2;
    font-size: 15pt;
    background-color: #4181e2;
    color: white;
}

.max-min:hover{
    background-color: blue;
}

.content {
    display: flex;
    margin: 20px auto;
    width: 80%;
    gap: 20px;
}


.left {
    flex: 1;
}

.left img {
    width: 100%;
    border-radius: 8px;
}

.left h3 {
    font-size: 24px;
    color: #008080;
    margin: 10px 0;
}

.precio {
    font-size: 24px;
    color: red;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.descripcion{
    text-align: justify;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.toggle-button{
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    font-size: 13pt;
    border-radius: 18px;
    border: none;
    background-color: #48bbfd;
}

.toggle-button:hover{
    background-color: blue;
    color: white;
}

.toggle-text{
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 18px;
    background-color: rgb(24, 77, 156);
    color: white;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="date"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.Text2{
    font-size: 10pt;
}

.actividadesNumero{
    display: flex;
}

.boxNumber{
    width: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 12pt;
}


.recommendations {
    margin-top: 20px;
}

.recommendations h4 {
    margin-bottom: 10px;
}

.recommendations ul {
    list-style: disc;
    margin-left: 20px;
}

.reserve-button {
    background-color: #ffd700;
    color: #000;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    align-self: start;
    border-radius: 5px;
}

.reserve-button:hover{
    background-color: #000;
    color: white;
}