
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: georgia;
}

/* Estilos para Encabezado */
header {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.685);
    z-index: 3;
    transition: 0.7s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 3, 3, 0.233);
}
header.abajo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #717271c4; 
    z-index: 100; 
    transition: 1.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
#cabecera a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16pt;
    margin-left: 20px;
    font-weight: 600;
    color: #ffffff;
}

.img-logo {
    width: 68px;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 10px;
    padding: 5px;
    font-size: 13pt;
    font-family: georgia;
    font-weight: 600;
    display: block;
}

nav ul li a:hover {
    background-color: #168181;
    border-radius: 4px;
    color: #ffffff;
}

nav ul li .submenu,
nav ul li .submenu-derecha {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 0;
    border-radius: 5px;
    background: rgba(45, 46, 46, 0.61);
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    z-index: 1000;
}

nav ul li:hover .submenu,
nav ul li .submenu li:hover{
    display: block;
    width: 128px;
}

/* Estilos para botones de redes sociales*/
.redes{
    position: fixed;
    right: 0;
    top: 50%;  
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.redes img{
    width: 100%;
}

.boton{
    width: 60px;
    height: 60px;
    border-radius: 10px 0 0 10px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Animación individual al pasar el mouse */
.boton:hover {
    transform: translateX(-15px);
   
}

/* Estilos para escritura */
#miContenedor{
    width: 100%;
    height: 50px;
    color: #ffffff;
    background:linear-gradient(90deg,#ffffffef,#e7e7e7,#ffffff);
    box-shadow: 0 2px 4px rgba(148, 144, 144, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -95px;
    position: relative;
    color:#69218B
}
#miContenedor section{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    font-size: 20pt;
}

/* Estilos para el banner */
#miBanner section {
    position: relative;
    width: 100%;
    height: 700px;
    top: -80px;
    display: block;
}

#imagenBanner {
    width: 100%;
    height: 700px;
}

#parrafoBanner {
    position: absolute;
    top: 150px;
    right: 80px;
    color: white;
    padding: 10px;
    font-size: 50px;
    font-weight: 700;
    max-width: 30%; /* Limitar el ancho del párrafo */
    z-index: 3;
}

#miBanner section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(14, 5, 5, 0.164);
    z-index: 1;
}


.b-lineas {
    position: relative;
    top: -120px;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 3;
}
.lineas {
    width: 120px;
    height: 15px;
    border-radius: 15px;
    background-color:#ffffff;
    cursor: pointer;
    transition: transform 0.4s;
}
.lineas:hover {
    transform: scale(1.1);
}

.inicio-parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #69218B;
}
.inicio-parrafo p{
    width: 70%;
    text-align: center;
    margin: 20px 0;
    color: #168181;
}
#inicio-regiones {
    display: flex;
    justify-content: center;
    width: 100%;
}
#inicio-regiones section {
    flex: 1;
    padding: 10px;
}
.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.derecha {
    display: flex;
    align-items: center;
}
.costa, .sierra, .selva {
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.sierra{
    margin-right: -100px;
}
.costa p, .sierra p, .selva p {
    background-color: #168181;
    width: 200px;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 20pt;
    border-radius: 25px 0 0 25px;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.562);
}

.selva p {
    border-radius: 0 25px 25px 0;
}

.costa img, .sierra img, .selva img {
    width: 120px;
    margin-left: -15px;
    border-radius: 150px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.562);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.selva img {
    margin-left: -280px;
}

#imagen-centro {
    width: 90%; 
    height: auto;
    transition: transform 0.3s ease, opacity 0.8s ease;
    opacity: 1;
}

.zoom-in {
    transform: scale(1.1); 
    opacity: 0.2; 
}

.zoom-out {
    transform: scale(1);
    opacity: 1;
}
.puntos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sig{
    background-color: #C1A2FF;
    border-radius: 50px;
    padding: 5px;
    width: 10px;
    margin: 1.5px 0;
}
.puntos img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 3px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.562);
}
.mas-reservados {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 35px;
    width: 65%;
    margin: 30px auto; 
}

.reservado {
    position: relative;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.459);
}

.reservado img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}


.reservado p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px 15px;
    background: #ffffffc5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-size: 18pt;
    width: 80%;
    color: #3d0557;
}


.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 35px;
    width: 65%;
    height: 400px;
    margin: 30px auto; 
}
.contact section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#69218B;
    font-size: 17pt;

}
.contact p{
text-align: justify;
color:black;
}
.contact button{
    background-color: #168181;
    padding: 10px;
    border-radius: 35px;
    margin-top: 15px;
    border: none;
    font-size: 20pt;
    color:#ffffff
}
.contact button:hover{
    background-color:#db9c13;
    color: #690597;
}
.contact img{
    width: 100%;
    border-radius: 20px;
}

/*FOOTER*/
footer{
    position: relative;
    display: flex;
    background-color: #168181d7;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    margin-top: 30px;
    background-image: url('../imagenes/fondofooter.png'); 
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 2;
}
#arriba, .linea, #final {
    position: relative;
    z-index: 3;
}

#arriba{
    display: flex;
    margin: 10px 30px;
    padding: 20px 0;
}
.logo-footer{
    width: 25%;
}

#arriba .f-izquierdo{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-izquierdo p{
    text-align: justify;
    color: #fffefe;
}
.f-izquierdo a{
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    font-size: 13pt;
    font-family: Georgia;
    font-weight: 600;
    color: #ffffff;
    width: 90%;
}
#arriba .f-centro{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-centro ul li{
    list-style-type: none;
    color: #ffffff;
    padding: 3px;
}
.f-centro ul li a{
    color: #ffffff;
    font-size: 12pt;
    text-decoration: none;
}
.f-centro ul li ul li{
    list-style-type: circle;
    margin-left: 15px;
}
.f-centro ul li a:hover{
    color: #1dacff;
}
.linea{
    width: 100%;
    margin: 10px 0;
}
#final{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px;
}
.pie{
    font-size: 10pt;
    color: #e2ebf0;
}
#machuvideo, #aqpvideo,#iquivideo,#punovideo,#huacavideo,#truvideo {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
.reservado video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}