*{
    margin: 0;
    padding: 0;
}

.portada{
    color: rgb(238, 206, 119);
    font-size: 300%;
    position: relative;
    top: -80px;
    text-align: center;
    padding: 50px;
    width: 100%;
    height: 600px;
    background: url(../imagenes/Principal.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;
}

.titulo{
    font-size: 250%;
    font-family: Georgia; 
    text-align: center; 
    color: #8fa05f;  
}
.section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: aquamarine;

}
.figure{
    display: flex;
    width: 23%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #41e418;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.portadas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portadas img{
    border-radius: 8px;
    display: flex;
    height:250px;   
    width: 100%;
}
figcaption{
    text-align: center;
    padding: 5px;
}
.dias{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 35px;
    margin: 10px 25px;
}


.lugares{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.paquete{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.paquete button{
    text-align: center;
    width: 95%;
    height: 35px;
    border: 1px solid black;
    background-color: rgb(243, 255, 198); 
    border-radius: 20px;
    margin: 10px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}  
.paquete button:hover{
    background-color: #b4ee69;
    color: rgb(10, 83, 0);
}  
.precio{
    text-align: center;
    flex-direction: column;
    font-size: 120%;
}
.lugares{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portadas{
    text-align: center;
    flex-direction: column;
}
